<mat-toolbar color="my-primary">
    <mat-toolbar-row><span>Forgot Password ?</span></mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content>
    <form [formGroup]="forgotPasswordForm">
        <div class="from-group">
            <mat-form-field appearance="outline"> 
                <mat-label>Email:</mat-label>
                <input matInput
                       type="text"
                       formControlName="email" required>
                <mat-error *ngIf="forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.invalid">
                    <span *ngIf="forgotPasswordForm.controls.email.errors?.required">This field is Mandatory</span>
                    <span *ngIf="forgotPasswordForm.controls.email.errors?.pattern">Invalid Email</span>
                </mat-error>
            </mat-form-field>
           
            
        </div>
    </form>
    <div class="forgot">
        <a mat-flat-button color="link" (click)="getPassword()">Get Password...</a>
    </div>
</mat-dialog-content>
