h5{
    font-size: 18px;
}
.mat-my-primary{
    color: var(--orange) !important;
}
.mat-dialog-close{
    background-image: linear-gradient(var(--light-color), #fff) !important;
    color: #000 !important
}